body {
	background-color: #FFFFFF;
	background-image: linear-gradient(#B3F6FF, #007E8F);
	margin: 0px;
}

footer {
	background-color: #333;
	margin: 0px;
	border: solid;
	border-width: 1px;
	font-color: #FFFFFF;
}

h1, h2, h3 {
	font-family: serif;
}

p {
	font-family: sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}

.picture, .footer_picture {
	border: solid;
	border-radius: 15px;
}

.footer_picture {
	display: block;
	float: right;
	max-height: 280px;
	max-width: 160px;
	position: relative;


}

#front_picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 650;
	max-width: 1920;
	float: center;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease
}

li:last-child {
  border-right: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;

}